<div class="panel panel-default">
    {{#if label}}
        <div class="panel-heading">{{{label}}}</div>
    {{/if}}

    {{#if collection.isPending}}
        loading...
    {{else}}
        {{#if filterEnabled}}
            <div class="panel-body">
                <div class="input-group">
                    {{input type="text" value=filterTerm class="form-control"}}
                    {{#if filterTerm}}
                        <span class="input-group-btn">
                            <button {{action 'clear'}} class="btn btn-default" type="button">
                                <i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                    {{else}}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    {{/if}}
                </div>
            </div>
        {{/if}}

        <div class="list-group">
            {{#each item in collection}}
                {{#link-to item.meta.modelIndexViewPath item._id class="list-group-item"}}
                    <h4 class="list-group-item-heading">{{item.title}}</h4>
                {{/link-to}}
            {{else}}
                {{#if emptyPlaceholder}}
                    <div class="empty-placeholder">{{{emptyPlaceholder}}}</div>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
</div>
