<div class="panel panel-default">
    {{#if label}}
        <div class="panel-heading">{{{label}}}</div>
    {{/if}}

    {{#if collection.isPending}}
        {{partial 'eureka-loading'}}
    {{else}}

        {{#if showOptionsControl}}
            <div class="panel-body">
                <div class="form-inline">
                {{#if filterEnabled}}
                    <div class="input-group">
                        {{input type="text" value=filterTerm class="form-control"}}
                        {{#if filterTerm}}
                            <span class="input-group-btn">
                                <button {{action 'clear'}} class="btn btn-default" type="button">
                                    <i class="glyphicon glyphicon-remove"></i></button>
                            </span>
                        {{else}}
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        {{/if}}
                    </div>
                {{/if}}

                {{#if sortingProperties}}
                    <div class="pull-right">
                        <div class="input-group">
                            <div class="input-group-addon">sort by</div>
                            {{property-autosuggest modelMeta=routeModel.meta propertyNames=sortingProperties value=sortBy}}
                        </div>

                        <button class="btn btn-default" {{action 'toggleOrder'}}>
                            {{#if ascendingOrder}}
                                <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                            {{else}}
                                <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                            {{/if}}
                        </button>
                    </div>
                {{/if}}
                </div>
            </div>
        {{/if}}

        <div class="list-group">
            {{#if collection.length}}
                {{partial 'eureka-widget-collection-display-list'}}
            {{else}}
                {{#if emptyPlaceholder}}
                    <div class="empty-placeholder">{{{emptyPlaceholder}}}</div>
                {{/if}}
            {{/if}}
        </div>

    {{/if}}
</div>
