<div class="panel panel-default">

    {{#if allowExportData}}
    <div class="modal fade export-data-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Data CSV export</h4>
                </div>
                <div class="modal-body">
                    <p class="text-muted"> You are about to export the data that match your query. Just select the field you want to export and click the "export" button.</p>

                    {{#ek-multiselect selection=selectedProperties placeholder="select the field(s) to export"}}
                        {{#each modelProperties as |property|}}
                            <option value="{{property.name}}">
                                {{property.label}}
                            </option>
                        {{/each}}
                    {{/ek-multiselect}}
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group">
                        <button
                            disabled="{{unless selectedProperties.length 'disabled'}}"
                            class="btn btn-primary"
                            {{action 'exportData' 'csv'}}>
                                export
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {{/if}}

    {{#if displayPanelHeading}}
        <div class="panel-heading">
            {{#if label}}
                {{{label}}}
            {{/if}}
            {{#if totalResults}}
                &nbsp;<span class="pull-right">{{totalResults}} results</span>
            {{/if}}
        </div>
    {{/if}}

    {{#if collection.isPending}}
        {{partial 'eureka-loading'}}
    {{else}}
        {{#if showOptionsControl}}
            <div class="panel-body">
                <div class="form-inline">
{{!--                 {{#if filterEnabled}}
                    <div class="input-group">
                        {{input type="text" value=filterTerm class="form-control"}}
                        {{#if filterTerm}}
                            <span class="input-group-btn">
                                <button {{action 'clear'}} class="btn btn-default" type="button">
                                    <i class="glyphicon glyphicon-remove"></i></button>
                            </span>
                        {{else}}
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        {{/if}}
                    </div>
                {{/if}} --}}

                    {{#if sortingProperties}}
                        {{!-- <div class="pull-right"> --}}
                            <div class="input-group">
                                <div class="input-group-addon">sort by</div>
                                {{property-autosuggest modelMeta=routeModel.meta propertyNames=sortingProperties value=sortBy}}
                            </div>

                            <button class="btn btn-default" {{action 'toggleOrder'}}>
                                {{#if ascendingOrder}}
                                    <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                                {{else}}
                                    <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                                {{/if}}
                            </button>
                        {{!-- </div> --}}
                    {{/if}}

                    {{#if allowExportData}}
                    <div class="pull-right">
                        <button
                            type="button"
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target=".export-data-modal">
                              <i class="glyphicon glyphicon-cloud-download"></i>
                        </button>
                    </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}

        <div class="list-group">
            {{#if collection.length}}
                {{partial 'eureka-widget-collection-display-list'}}
            {{else}}
                {{#if emptyPlaceholder}}
                    <div class="empty-placeholder">{{{emptyPlaceholder}}}</div>
                {{/if}}
            {{/if}}
        </div>

        {{#if displayPagination}}
            <nav>
              <ul class="pager">
                {{#if displayPreviousButton}}
                    <li>
                        <a href="#" aria-label="End" {{action 'goToBeginning'}}>
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" {{action 'displayPrevious'}}>
                            previous
                        </a>
                    </li>
                {{/if}}

                {{#if displayNextButton}}
                    <li>
                        <a href="#" {{action 'displayNext'}}>
                            next
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="End" {{action 'goToEnd'}}>
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{/if}}
              </ul>
            </nav>
        {{/if}}

    {{/if}}
</div>
