<div class="panel panel-default">

    {{#if displayPanelHeading}}
        <div class="panel-heading">
            {{#if label}}
                {{{label}}}
            {{/if}}
            {{#if totalResults}}
                &nbsp;<span class="pull-right">{{totalResults}} results</span>
            {{/if}}
        </div>
    {{/if}}

    {{#if collection.isPending}}
        {{partial 'eureka-loading'}}
    {{else}}
        {{#if showOptionsControl}}
            <div class="panel-body">
                <div class="form-inline">
{{!--                 {{#if filterEnabled}}
                    <div class="input-group">
                        {{input type="text" value=filterTerm class="form-control"}}
                        {{#if filterTerm}}
                            <span class="input-group-btn">
                                <button {{action 'clear'}} class="btn btn-default" type="button">
                                    <i class="glyphicon glyphicon-remove"></i></button>
                            </span>
                        {{else}}
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        {{/if}}
                    </div>
                {{/if}} --}}

                    {{#if sortingProperties}}
                        {{!-- <div class="pull-right"> --}}
                            <div class="input-group">
                                <div class="input-group-addon">sort by</div>
                                {{property-autosuggest modelMeta=routeModel.meta propertyNames=sortingProperties value=sortBy}}
                            </div>

                            <button class="btn btn-default" {{action 'toggleOrder'}}>
                                {{#if ascendingOrder}}
                                    <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                                {{else}}
                                    <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                                {{/if}}
                            </button>
                        {{!-- </div> --}}
                    {{/if}}

                    <div class="pull-right">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="glyphicon glyphicon-cloud-download"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="export as">
                                <li><a href="#" {{action 'exportData' 'csv'}}>export as CSV</a></li>
                                <li><a href="#" {{action 'exportData' 'json'}}>export as JSON</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        <div class="list-group">
            {{#if collection.length}}
                {{partial 'eureka-widget-collection-display-list'}}
            {{else}}
                {{#if emptyPlaceholder}}
                    <div class="empty-placeholder">{{{emptyPlaceholder}}}</div>
                {{/if}}
            {{/if}}
        </div>

        {{#if displayPagination}}
            <nav>
              <ul class="pager">
                {{#if displayPreviousButton}}
                    <li>
                        <a href="#" aria-label="End" {{action 'goToBeginning'}}>
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" {{action 'displayPrevious'}}>
                            previous
                        </a>
                    </li>
                {{/if}}

                {{#if displayNextButton}}
                    <li>
                        <a href="#" {{action 'displayNext'}}>
                            next
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="End" {{action 'goToEnd'}}>
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{/if}}
              </ul>
            </nav>
        {{/if}}

    {{/if}}
</div>
